{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 150,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "proseWrap": "preserve",
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto"
}
