$primary: #1ca673; // 브랜드 메인 컬러
$warning: #f29b30; // 경고/알림 컬러
$danger: #d92b2b; // 오류/위험 컬러
$secondary: #f2f2f2; // 보조 컬러
$info: #014029; // 정보 컬러
$success: #008000; // 성공 컬러
$dark: #212529; // 어두운 배경
$lightDark: #c6c6c6; // 밝은 배경
$light: #f8f9fa; // 밝은 배경
$white: #fff; // 흰색
$black: #000; // 검정색
